@use 'utils/mixins' as m;
@use 'utils/functions' as f;

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(12px) scale(0.98);
  }

  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  @include m.flex-box(center, center);
  z-index: 999;
  backdrop-filter: blur(2px);
}

/* 모달 박스 */
.modal {
  background: f.color(bg-primary);
  padding: 28px 24px;
  border-radius: 16px;
  width: 320px;
  text-align: center;

  box-shadow: 0 6px 28px rgba(0, 0, 0, 0.18);

  animation: fade-in 0.25s ease;

  &__close {
    cursor: pointer;
    color: f.color(text-secondary);
    @include m.flex-box(flex-end, center);
    margin-bottom: 12px;
  }
}

.login {
  width: 100%;
  @include m.flex-box(center, center, column);
  gap: 12px;
  padding: 24px 0;
  &-group {
    width: 100%;
    @include m.flex-box(center, flex-start, column);
    gap: 8px;

    &__label {
      @include m.text-style-extended('md', 500, white);
    }
  }

  &__forget {
    @include m.text-style-extended('sm', 500, brand-primary);
    text-decoration: underline;
    cursor: pointer;
  }

  &__buttons {
    width: 100%;
    @include m.flex-box(center, center, column);
    gap: 12px;

    &__boolean {
      display: inline;
      @include m.text-style-extended('md', 400, gray-300);
    }
    &__signup {
      display: inline;
      @include m.text-style-extended('md', 500, brand-primary);
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

.social {
  @include m.flex-box(center, center, column);
  gap: 12px;

  &__or {
    @include m.text-style-extended('xs', 500, gray-300);
  }
  &__login {
    width: 100%;
    @include m.text-style-extended('md', 500, white);
    @include m.flex-box(space-between, center, row);

    &--google {
      width: fit-content;
      height: 100%;
      @include m.flex-box(center, center);
    }
  }
}
// .login {
//   @include m.flex-box(center, center, column);
//   gap: 24px;
//   width: 100%;
//   &__title {
//     @include m.text-style-extended('2xl', 600, black);
//   }
//   &__form {
//     width: 100%;
//     @include m.flex-box(center, center, column);
//     gap: 16px;

//     &-group {
//       width: 100%;
//       @include m.flex-box(center, flex-start, column);
//       gap: 8px;
//       span {
//         @include m.text-style-extended('md', 500, gray-900);
//       }
//     }
//   }
//   &__input {
//     width: 100%;
//   }
//   &__buttons {
//     width: 100%;
//   }
// }

// .icon {
//   color: f.color(white);
// }
