@use 'utils/mixins' as m;
@use 'utils/functions' as f;

.clock {
  width: 100%;
  height: 120px;
  border-radius: 24px;
  border: 1.5px solid f.color(gray-100);
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.08);

  &__wrapper {
    @include m.flex-box(center, center, column);
    padding: 24px 20px;
    width: 100%;
    height: 100%;
    gap: 12px;
  }

  &__header {
    @include m.flex-box(center, center, row);
    gap: 6px;
  }

  &__message {
    @include m.text-style-extended('lg', 500, orange-700);
    text-align: center;
  }

  &__time-wrap {
    @include m.flex-box(center, center, row);
    gap: 6px;
  }

  &__icon {
    width: 20px;
    height: 20px;
    color: f.color(point-yellow);
    flex-shrink: 0;
  }

  &__time {
    @include m.text-style-extended('2xl', 600, black);
  }
}
