@use 'utils/mixins' as m;
@use 'utils/functions' as f;

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(f.color(bg-primary), 0.5);
  padding: 20%;
  position: fixed;
  inset: 0;
  z-index: 999;
}

.modal {
  width: 100%;
  background-color: f.color(bg-inverse);
  padding: 28px 24px;
  border-radius: 16px;
  text-align: center;
  overflow: auto;

  &__header {
    @include m.flex-box(space-between, center);
    margin-bottom: 15px;

    &__close {
      @include m.flex-box(flex-end, center);

      svg {
        cursor: pointer;
      }
    }
  }

  &__description {
    margin-top: 8px;
    text-align: left;
    font-size: 14px;
    line-height: 20px;
  }
}
