@use 'utils/mixins' as m;
@use 'utils/functions' as f;
@use 'utils/variables' as v;

.filter__mode {
  @include m.flex-box(row, center);
  width: fit-content;
  margin: 0 auto;
  padding: 4px;

  background: f.color(gray-100);
  border-radius: 32px;
}

.mode__tab {
  width: 260px;
  height: 48px;

  @include m.flex-box(center, center);
  @include m.text-style(lg, 600);

  background: transparent;
  border: none;
  border-radius: 32px;

  color: f.color(text-default);

  cursor: pointer;
  transition: all 0.25s ease;
  position: relative;
  z-index: 1;
}

.mode__tab--active {
  background: f.color(point-blue);
  color: f.color(text-inverse);

  box-shadow: 0 4px 12px rgba(16, 185, 129, 0.3);
  z-index: 3;
  transform: translateY(-2px);
}

.filter__options {
  margin-top: 20px;

  @include m.flex-box(row, center);
  flex-wrap: wrap;

  gap: 12px;
  width: 100%;
  padding: 0 12px;
}

.pill {
  border-radius: 16px;
  height: 40px;
  padding: 0 18px;

  @include m.flex-box(center, center);
  @include m.text-style(md, 400);

  box-sizing: border-box;
}

.icon {
  @include m.flex-box(center, center);
  margin-right: 6px;
}
