@use '~/src/styles/utils/mixins' as m;
@use '~/src/styles/utils/functions' as f;
@use '~/src/styles/utils/variables' as v;

.wrapper {
  &--password {
    padding-right: 40px;
  }

  &.error {
    border-color: f.color(status-danger);
    border-width: 2px;
  }

  &__icon-right {
    @include m.flex-box(center, center);
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);

    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    color: f.color(icon-primary);
  }
}

.errorMessage {
  margin-top: 4px;
  @include m.text-style(sm);
  color: f.color(status-danger);
}