.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
}

/* 입력 패널 */
.panel {
  display: flex;
  gap: 10px;
  margin-top: 10px;

  &__input {
    padding: 10px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 160px;
  }

  &__button {
    padding: 10px 16px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 14px;
    background: #fff;
    cursor: pointer;
    transition: 0.15s;

    &:hover {
      background: #f1f1f1;
    }
  }
}

/* 리스트 */
.list {
  list-style: none;
  padding: 0;
  margin-top: 10px;

  max-height: 200px;
  overflow-y: auto;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;

  &__item {
    background: #f8f8f8;
    padding: 8px 12px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd;
    gap: 10px;
  }

  &__delete-btn {
    background: #ff6767;
    color: #fff;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 4px 8px;
    cursor: pointer;
    transition: 0.15s;

    &:hover {
      background: #ff4141;
    }
  }
}
