@use 'utils/mixins' as m;
@use 'utils/functions' as f;

// Item list 공통 스타일 믹스인
@mixin item-list-style {
  @include m.flex-box(flex-start, stretch, column);
  gap: 10px;

  &__item {
    @include m.flex-box(space-between, center);
    padding: 14px;
    background: f.color(white);
    border: 1px solid f.color(gray-300);
    border-radius: 14px;

    &__info {
      @include m.flex-box(center, flex-start, column);

      &__name {
        margin: 0;
        @include m.text-style-extended('2lg', 500, black);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &__category {
        @include m.text-style-extended(md, 400, gray-600);
      }
    }
  }
}

.meal-favorite {
  width: 100%;
  height: 100%;
  padding: 18px 20px;
  border-radius: 24px;
  border: 1.5px solid f.color(gray-100);
  box-shadow: 0 6px 12px 0 rgb(0 0 0 / 8%);
  box-sizing: border-box;
  @include m.flex-box(flex-start, stretch, column);

  &__header {
    @include m.flex-box(space-between, center);
    padding-bottom: 8px;
    border-bottom: 2px solid f.color(gray-300);
    margin-bottom: 16px;

    &__title {
      @include m.text-style-extended('xl', 600, gray-900);
    }

    &__icon {
      width: 20px;
      height: 20px;
      color: f.color(yellow-600);
    }
  }

  &__empty {
    @include m.flex-box(center, center, column);
    gap: 8px;
    height: 100%;

    &__icon {
      width: 40px;
      height: 40px;
      color: f.color(gray-400);
    }

    &__text {
      margin: 0;
      @include m.text-style(md);
      color: f.color(text-default);
    }
  }

  &__list {
    @include item-list-style();
  }

  &__view-all {
    width: 100%;
    @include m.flex-box(center, center);

    &__button {
      width: fit-content;
      background: transparent;
      border: none;
      margin-top: 12px;
      @include m.text-style-extended(lg, 500, text-default);
      cursor: pointer;
      transition: all 0.2s ease;

      &:hover {
        color: f.color(orange-700);
      }
    }
  }
}

.modal {
  width: 90vw;
  max-width: 400px;
  height: 400px;
  transition: all 0.3s ease-in-out;

  @include m.mq(md) {
    width: 500px;
    height: 600px;
  }

  &__list {
    gap: 10px;
    @include item-list-style();
  }
}
