@use 'utils/mixins' as m;
@use 'utils/functions' as f;

// 이거는 건들지 마세요잉 + 반응형일 때 추가 설정 필요
.main {
  max-width: 100vw;
  padding: 100px 20px;
  transition: margin-left 0.3s ease;
  overflow: hidden;
  @include m.mq(lg) {
    padding: f.main(padding);
  }
  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: auto;
    transition: padding 0.3s ease;
  }
}
