@use 'utils/mixins' as m;
@use 'utils/functions' as f;

.filter {
  &__mode {
    @include m.flex-box(center, center, row);
    width: fit-content;
    margin: 0 auto;
    padding: 4px;

    background: f.color(gray-100);
    border-radius: 32px;

    &__tab {
      width: 260px;
      height: 48px;

      @include m.flex-box(center, center);
      @include m.text-style(lg, 600);

      background: transparent;
      border: none;
      border-radius: 32px;

      color: f.color(text-default);

      cursor: pointer;
      transition:
        background 0.25s ease,
        color 0.25s ease,
        transform 0.25s ease;

      &--active {
        background: f.color(point-blue);
        color: f.color(text-inverse);

        box-shadow: 0 4px 12px rgba(16, 185, 129, 0.3);
        transform: translateY(-2px);
      }
    }
  }

  &__options {
    margin-top: 20px;

    @include m.flex-box(center, center, row);
    flex-wrap: wrap;

    gap: 12px;
    width: 100%;
    padding: 0 12px;

    &__item {
      @include m.flex-box(center, center);
      @include m.text-style(md, 400);

      border-radius: 16px;
      height: 40px;
      padding: 0 18px;
      box-sizing: border-box;

      &__icon {
        @include m.flex-box(center, center);
        margin-right: 6px;
      }
    }
  }
}
