@use 'utils/mixins' as m;
@use 'utils/functions' as f;
@use 'utils/variables' as v;

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.wrapper {
  @include m.flex-box(flex-start, center);
  position: relative;

  width: 100%;
  padding: 10px 12px;

  border: 1px solid f.color(border-primary);
  border-radius: 6px;
  background: f.color(bg-secondary);

  transition: border-color 0.2s;
  
  &.focused {
    border-color: f.color(interaction-focus);
    border-width: 2px;
  }

  &.disabled {
    opacity: 0.6;
    pointer-events: none;
  }
}

.input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;

  @include m.text-style(md, 400);
  color: f.color(text-primary);
  line-height: 1.6; 
}