@use 'utils/mixins' as m;
@use 'utils/functions' as f;
@use 'utils/variables' as v;

.profile-header {
  display: flex;
  gap: 30px;
  align-items: center;
  width: 100%;
  padding: 18px 20px;
  background: f.color(white);
  border-radius: 14px;
  border: 1.5px solid f.color(gray-300);
  box-shadow: 2px 2px 0px 0 rgba(0, 0, 0, 0.1);

  &__avatar {
    position: relative;
    width: 100px;
    height: 100px;
    padding: 0;
    background: transparent;
    border: 0;
    border-radius: 999px;
    cursor: pointer;
    flex: 0 0 auto;

    &-image {
      width: 100%;
      height: 100%;
      border-radius: 999px;
      border: 1px solid f.color(gray-300);
      object-fit: cover;
    }

    &-edit-icon {
      position: absolute;
      right: 4px;
      bottom: 4px;
      width: 24px;
      height: 24px;
      @include m.flex-box(center, center);
      background: f.color(white);
      border: 1px solid f.color(gray-300);
      border-radius: 999px;
    }

    &-edit-icon-image {
      width: 16px;
      height: 16px;
      pointer-events: none;
    }
  }

  &__body {
    flex: 1;
    min-width: 0;
  }

  &__title {
    margin: 0;

    @include m.text-style(xl, 700);
    color: f.color(black);
  }

  &__subtitle {
    margin: 4px 0 0;

    @include m.text-style(md, 400);
    color: f.color(text-default);
  }

  &__stats {
    margin-top: 12px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }

  &__file-input {
    display: none;
  }
}
