@use 'utils/mixins' as m;
@use 'utils/functions' as f;
@use 'utils/variables' as v;

.wrapper--search {
  --icon-size: 24px; // search, clear 아이콘 사이즈
  --icon-gap: 12px; // icon-left/right 간격
  --input-padding-x: 12px; // 아이콘 없을 때 기본 좌우 패딩

  /* padding = icon-size + icon-gap + base-padding */
  padding-left: calc(var(--icon-size) + var(--icon-gap) + var(--input-padding-x));
  padding-right: calc(var(--icon-size) + var(--icon-gap) + var(--input-padding-x));

  &.focused {
    border-color: f.color(border-primary);
    box-shadow: none;
  }
}

.wrapper__icon-left {
  @include m.flex-box(center, center);
  position: absolute;
  left: var(--icon-gap);
  top: 50%;
  transform: translateY(-50%);
  width: var(--icon-size);
  height: var(--icon-size);
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  color: f.color(icon-primary);

  &:hover:not(:disabled) {
    color: f.color(gray-700);
  }
}

.wrapper__icon-right {
  @include m.flex-box(center, center);
  position: absolute;

  right: var(--icon-gap);
  top: 50%;
  transform: translateY(-50%);

  width: var(--icon-size);
  height: var(--icon-size);

  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  color: f.color(icon-primary);

  &:hover:not(:disabled) {
    color: f.color(gray-700);
  }
}
