@use 'utils/mixins' as m;
@use 'utils/functions' as f;
@use 'utils/variables' as v;

.panel {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__result {
    background: f.color(blue-100);
    padding: 10px;
    border-radius: 8px;
  }

  &__search {
    display: flex;
    gap: 10px;

    input {
      flex: 1;
      padding: 8px 10px;
      border: 1px solid f.color(gray-300);
      border-radius: 6px;
      font-size: 14px;
    }
  }

  &__categories {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  &__reset {
    margin-top: 10px;
  }
}
