@use 'utils/mixins' as m;
@use 'utils/functions' as f;

.quote-card {
  width: 100%;
  padding: 8px 24px;
  height: 140px;
  background: var(--surface);
  color: var(--text);
  border-radius: 24px;
  border: 1px solid var(--border);
  box-shadow: var(--shadow);
  @include m.flex-box(center, center, column);

  svg {
    stroke: currentColor;
  }

  &::before {
    content: '';
    width: 40px;
    height: 4px;
    margin-bottom: 14px;

    background-color: f.color(point-yellow);
    border-radius: 2px;
  }

  &__text {
    width: 100%;
    @include m.text-style-extended('lg', 600, gray-700);
    color: var(--text);
    text-align: center;
  }

  &__sentence {
    display: block;
  }
}
