@use 'sass:map';
@use 'variables' as v;

@function color($name) {
  $val: map.get(v.$colors, $name);
  @if $val == null {
    @error "Unknown color token: #{$name}";
  }
  @return $val;
}

@function typography($size, $key) {
  $typo-map: map-get(v.$typography, $size);

  @if $typo-map == null {
    @error "Unkown typography size: #{$size}";
  }

  @return map-get($typo-map, $key);
}
