@use 'sass:map';
@use 'variables' as v;

@function color($name) {
  $val: map.get(v.$colors, $name);
  @if $val == null {
    @error "Unknown color token: #{$name}";
  }
  @return $val;
}

@function main($property) {
  $val: map.get(v.$main, $property);
  @if $val == null {
    @error "Unknown main property: #{$property}";
  }
  @return $val;
}
