// 색상 변수
$colors: (
  // brand 색상
  brand-primary: #10b981,
  brand-secondary: #34d399,
  brand-tertiary: #a3e635,
  brand-gradient: linear-gradient(90deg, #10b981 0%, #a3e635 100%),
  // point 색상
  point-rose: #f43f5e,
  point-orange: #f97316,
  point-yellow: #eab308,
  point-cyan: #06b6d4,
  point-blue: #3b82f6,
  point-purple: #a855f7,

  // background 색상
  bg-primary: #0f172a,
  bg-secondary: #1e293b,
  bg-tertiary: #334155,
  bg-inverse: #ffffff,

  // interaction 색상
  interaction-inactive: #64748b,
  interaction-hover: #059669,
  interaction-pressed: #047857,
  interaction-focus: #10b981,

  // border 색상
  border-primary: rgba(248, 250, 252, 0.5),
  text-primary: #f8fafc,
  text-secondary: #cbd5e1,
  text-tertiary: #e2e8f0,
  text-default: #64748b,
  text-inverse: #ffffff,
  text-disabled: #94a3b8,

  // status 색상
  status-danger: #dc2626,

  // icon 색상
  icon-primary: #64748b,
  icon-inverse: #f8fafc,
  icon-brand: #10b981,

  // 추가한 색상
  black: #000,
  white: #fff,
  paper-background: #fffbea,

  // 그레이 스케일
  gray-100: #f5f5f5,
  gray-200: #eeeeee,
  gray-300: #e0e0e0,
  gray-400: #bdbdbd,
  gray-500: #9e9e9e,
  gray-600: #757575,
  gray-700: #616161,
  gray-800: #424242,
  gray-900: #212121,

  // 빨간색 스케일
  red-0: #c00,
  red-100: #ffcdd2,
  red-200: #ef9a9a,
  red-300: #e57373,
  red-400: #ef5350,
  red-500: #f44336,
  red-600: #e53935,
  red-700: #d32f2f,
  red-800: #c62828,
  red-900: #b71c1c,

  // 주황색 스케일
  orange-0: #f60,
  orange-100: #ffe0b2,
  orange-200: #ffcc80,
  orange-300: #ffb74d,
  orange-400: #ffa726,
  orange-500: #ff9800,
  orange-600: #fb8c00,
  orange-700: #f57c00,
  orange-800: #ef6c00,
  orange-900: #e65100,

  // 노란색 스케일
  yellow-0: #ff0,
  yellow-100: #fff9c4,
  yellow-200: #fff59d,
  yellow-300: #fff176,
  yellow-400: #ffee58,
  yellow-500: #ffeb3b,
  yellow-600: #fdd835,
  yellow-700: #fbc02d,
  yellow-800: #f9a825,
  yellow-900: #f57f17,

  // 초록색 스케일
  green-0: #0c0,
  green-100: #d4edda,
  green-200: #a8e5a1,
  green-300: #7cd66f,
  green-400: #4dbd4a,
  green-500: #28a745,
  green-600: #218838,
  green-700: #1e7e34,
  green-800: #1c7430,
  green-900: #155724,

  // 파란색 스케일
  blue-0: #00c,
  blue-100: #bbdefb,
  blue-200: #90caf9,
  blue-300: #64b5f6,
  blue-400: #42a5f5,
  blue-500: #2196f3,
  blue-600: #1e88e5,
  blue-700: #1976d2,
  blue-800: #1565c0,
  blue-900: #0d47a1
);

// 타이포그래피 변수
// weight는 따로 안 함. 필요하면 믹스인에서 지정
$typography: (
  xs: (
    fontSize: 12px,
    lineHeight: 1.5,
  ),
  sm: (
    fontSize: 13px,
    lineHeight: 1.69,
  ),
  md: (
    fontSize: 14px,
    lineHeight: 1.71,
  ),
  lg: (
    fontSize: 16px,
    lineHeight: 1.625,
  ),
  '2lg': (
    fontSize: 18px,
    lineHeight: 1.556,
  ),
  xl: (
    fontSize: 20px,
    lineHeight: 1.6,
  ),
  '2xl': (
    fontSize: 24px,
    lineHeight: 1.333,
  ),
  '3xl': (
    fontSize: 32px,
    lineHeight: 1.313,
  ),
);

// 브레이크포인트 변수
$breakpoints: (
  // mobile landscape
  sm: 640px,
  // tablet
  md: 768px,
  // desktop, tablet landscape
  lg: 1024px,
  // large desktop
  xl: 1280px
);
