@use 'utils/mixins' as m;
@use 'utils/functions' as f;
@use 'utils/variables' as v;

.wrapper {
  width: 100%;
  height: 100%;
  padding: 14px;

  background: f.color(white);
  border: 1px solid f.color(gray-300);

  display: flex;
  flex-direction: column;
}

.tabs {
  display: flex;
  background: f.color(gray-100);
  padding: 4px;
  border-radius: 10px;
}

.tab {
  flex: 1;
  padding: 12px 0;
  text-align: center;

  background: transparent;
  border-radius: 8px;
  cursor: pointer;

  @include m.text-style(md, 500);
  color: f.color(text-default);

  transition: all 0.2s ease;

  &:hover {
    background: f.color(gray-200);
  }
}

.active {
  background: f.color(white);
  color: f.color(black);
  border: 1px solid f.color(point-blue);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);

  transform: translateY(-1px);
}

.content {
  flex: 1;
  overflow-y: auto;
}
