@use 'utils/mixins' as m;
@use 'utils/functions' as f;

.container {
  @include m.flex-box(center, center, column);
  padding: 20px;
  color: f.color(red-900);
  @include m.text-style-extended(md, 600, blue-700);

  h1 {
    @include m.text-style-extended('3xl', 700, blue-900);
    margin-bottom: 10px;
  }

  &__title {
    @include m.text-style-extended('2xl', 500, blue-800);
    margin-bottom: 15px;
  }
}

.button {
  @include m.flex-box(center, center);
  padding: 10px 20px;
  background-color: f.color(blue-500);
  color: f.color(white);
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: f.color(blue-700);
  }

  &:active {
    background-color: f.color(blue-900);
  }
}
