@use 'utils/mixins' as m;
@use 'utils/functions' as f;

@mixin bordered-box {
  width: 100%;
  border: 1px solid f.color(black);
}

.container {
  @include m.flex-box(center, flex-start, row);
  gap: 40px;
  width: 100%;

  &__left {
    @include m.flex-box(center, center, column);
    gap: 40px;
    width: 180%;

    &__slice {
      @include m.flex-box(center, center, column);
      width: 100%;
      border: 1px solid f.color(black);
      height: 200px;
    }

    &__main {
      @include m.flex-box(center, center, column);
      width: 100%;
      gap: 30px;

      &__roulette {
        @include bordered-box;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 14px;

        height: auto;
        min-height: 860px;
      }

      &__option {
        @include bordered-box;

        height: 90px;
      }

      &__map {
        width: 100%;
        height: 450px;
        min-height: 450px;

        border: 1px solid f.color(black);

        display: block;
        position: relative;
        overflow: hidden;
      }
    }
  }

  &__right {
    @include m.flex-box(center, center, column);
    gap: 30px;
    width: 100%;

    &__clock {
      @include bordered-box;
      height: 120px;
    }

    &__weather {
      @include bordered-box;
      height: 400px;
    }

    &__chat {
      @include bordered-box;
      height: 500px;
    }
  }
}
