@use 'utils/mixins' as m;
@use 'utils/functions' as f;

@mixin bordered-box {
  width: 100%;
  border: 1px solid f.color(black);
}

.container {
  @include m.flex-box(center, flex-start, row);
  gap: 40px;
  width: 100%;

  &__left {
    @include m.flex-box(center, center, column);
    gap: 40px;
    width: 100%;

    &__slice {
      @include m.flex-box(center, center, column);
      width: 100%;
      border: 1px solid f.color(black);
      height: 200px;
    }

    &__main {
      @include m.flex-box(center, center, column);
      width: 100%;
      gap: 30px;

      &__roulette {
        @include bordered-box;
        display: flex;
        flex-direction: column;
        gap: 14px;
        gap: 14px;

        height: auto;
        min-height: 0;
      }

      &__option {
        @include bordered-box;
        height: 90px;
      }

      &__map {
        @include bordered-box;
        height: 450px;
      }
    }
  }

  &__right {
    @include m.flex-box(center, center, column);
    gap: 30px;
    width: 100%;

    &__clock {
      @include bordered-box;
      height: 120px;
    }

    &__weather {
      @include bordered-box;
      height: 400px;
    }

    &__chat {
      @include bordered-box;
      height: 500px;
    }
  }
}
