@use 'utils/mixins' as m;
@use 'utils/functions' as f;

// 재사용
@mixin bordered-box {
  @include m.flex-box(center, center);
  width: 100%;
  border: 1px solid f.color(black);
}

.container {
  @include m.flex-box(center, flex-start, row);
  gap: 40px;
  width: 100%;

  &__left {
    @include m.flex-box(center, center, column);
    gap: 40px;
    width: 180%;

    &__slice {
      @include m.flex-box(center, center, column);
      width: 100%;
      border: 1px solid f.color(black);
      height: 200px;
    }

    &__main {
      @include m.flex-box(center, center, column);
      width: 100%;
      gap: 30px;

      &__roulette {
        @include bordered-box;
        height: 800px;
      }

      &__option {
        @include bordered-box;
        height: 90px;
      }

      &__map {
        @include bordered-box;
        height: 350px;
      }
    }
  }

  &__right {
    @include m.flex-box(center, center, column);
    gap: 30px;
    width: 100%;

    &__clock {
      @include bordered-box;
      height: 120px;
    }

    &__weather {
      @include bordered-box;
      height: 400px;
    }

    &__chat {
      @include bordered-box;
      height: 500px;
    }
  }
}
