@use 'utils/mixins' as m;
@use 'utils/functions' as f;

.container {
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 48px;
  overflow: hidden;

  @include m.mq(md) {
    flex-direction: row;
    gap: 32px;
    min-height: auto;
  }

  &__left {
    @include m.flex-box(center, center, column);
    gap: 40px;
    flex: 6;
    min-width: 0;
    order: 1;

    @include m.mq(md) {
      width: 100%;
      min-width: 0;
      gap: 24px;
    }

    &__slice {
      @include m.flex-box(center, center, column);
      width: 100%;
      height: 200px;
      border: 1px solid f.color(black);
    }
  }

  &__right {
    @include m.flex-box(flex-start, center, column);
    gap: 30px;
    flex: 3;
    min-width: 0;
    order: 2;

    @include m.mq(md) {
      width: 100%;
      min-width: 0;
      gap: 16px;
    }
  }
}
