@use 'utils/mixins' as m;
@use 'utils/functions' as f;

@mixin dot {
  height: 10px;
  width: 10px;
  margin: 0 5px;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.25s ease-in-out;
}

.carousel {
  @include m.flex-box(center, '', column);
  width: 100%;
  padding: 16px;
  border: 1px solid f.color(black);
  gap: 20px;
  overflow: hidden;

  &__container {
    @include m.flex-box(center, flex-start, column);
    width: 100%;
    gap: 12px;

    &__info {
      @include m.flex-box(center, flex-start, column);
      gap: 8px;
    }

    &__images {
      @include m.flex-box(center, center, row);
      width: 100%;
      justify-content: space-between;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      scrollbar-width: none;
      display: flex;
    }
  }

  &__dots {
    width: 100%;
    @include m.flex-box(center, center, row);
    &__active {
      @include dot;
      background-color: f.color(black);
    }

    &__inactive {
      @include dot;
      background-color: f.color(gray-500);

      &:hover {
        transition: background-color 0.3s ease-in-out;
        background-color: f.color(gray-400);
        transform: scale(1.1);
      }
    }
  }
}

// @use 'utils/mixins' as m;
// @use 'utils/functions' as f;

// @mixin dot {
//   height: 10px;
//   width: 10px;
//   margin: 0 5px;
//   border-radius: 50%;
//   display: inline-block;
//   cursor: pointer;
//   transition: background-color 0.25s ease-in-out;
// }

// .carousel {
//   @include m.flex-box(center, '', column);
//   width: 100%;
//   padding: 16px;
//   border: 1px solid f.color(black);
//   gap: 20px;
//   overflow: hidden;

//   &__container {
//     @include m.flex-box(center, flex-start, column);
//     width: 100%;
//     gap: 12px;

//     &__info {
//       @include m.flex-box(center, flex-start, column);
//       gap: 8px;
//     }

//     // &__slider {
//     //   position: relative;
//     //   width: 100%;
//     //   display: flex;
//     //   align-items: center;

//     //   &__button {
//     //     position: absolute;
//     //     top: 50%;
//     //     transform: translateY(-50%);
//     //     background-color: rgba(255, 255, 255, 0.7);
//     //     border: none;
//     //     cursor: pointer;
//     //     padding: 8px;
//     //     border-radius: 50%;
//     //     z-index: 1;

//     //     &:hover {
//     //       background-color: rgba(255, 255, 255, 1);
//     //     }
//     //   }
//     //   &__button--left {
//     //     left: 10px;
//     //   }
//     //   &__button--right {
//     //     right: 10px;
//     //   }
//     // }
//     &__images {
//       @include m.flex-box(center, center, row);
//       width: 100%;
//       justify-content: space-between;
//       overflow-x: auto;
//       scroll-snap-type: x mandatory;
//       scrollbar-width: none;
//       display: flex;
//     }

//     &__slide {
//       flex: 0 0 100%;
//       scroll-snap-align: start;
//       justify-content: center;
//     }
//   }

//   &__dots {
//     width: 100%;
//     @include m.flex-box(center, center, row);
//     &__active {
//       @include dot;
//       background-color: f.color(black);
//     }

//     &__inactive {
//       @include dot;
//       background-color: f.color(gray-500);

//       &:hover {
//         transition: background-color 0.3s ease-in-out;
//         background-color: f.color(gray-400);
//         transform: scale(1.1);
//       }
//     }
//   }
// }
