@use 'utils/mixins' as m;
@use 'utils/functions' as f;

@mixin dot {
  height: 10px;
  width: 10px;
  margin: 0 5px;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.25s ease-in-out;
}

.carousel {
  @include m.flex-box(center, '', column);
  width: 100%;
  padding: 16px;
  border: 1px solid f.color(black);
  gap: 20px;
  overflow: hidden;

  &__container {
    @include m.flex-box(center, flex-start, column);
    width: 100%;
    gap: 12px;

    &__info {
      @include m.flex-box(center, flex-start, column);
      gap: 8px;
    }

    &__images {
      @include m.flex-box(space-between, center, row);

      width: 100%;
      gap: 12px;

      transition: transform 0.5s ease;
      user-select: none;

      overflow: hidden;
    }
  }

  &__dots {
    width: 100%;
    @include m.flex-box(center, center, row);
    &__active {
      @include dot;
      background-color: f.color(black);
    }

    &__inactive {
      @include dot;
      background-color: f.color(gray-500);

      &:hover {
        transition: background-color 0.3s ease-in-out;
        background-color: f.color(gray-400);
        transform: scale(1.1);
      }
    }
  }
}
