@use 'utils/mixins' as m;
@use 'utils/functions' as f;

@mixin menu-auth {
  @include m.flex-box(center, center, row);
  gap: 24px;
  span {
    cursor: pointer;
    @include m.text-style-extended('2lg', 500, text-primary);

    &:hover {
      color: f.color(brand-secondary);
      transition: color 0.2s ease-in-out;
    }
  }
}

.header {
  position: fixed;
  width: 100%;
  z-index: 999;
  @include m.flex-box(space-between, center, row);
  padding: 10px 20px;
  background-color: f.color(bg-primary);
  @include m.text-style-extended('2lg', 600, text-primary);
  &__menu {
    @include menu-auth;
  }

  &__logo {
    cursor: pointer;
    @include m.flex-box(center, center, row);
    gap: 8px;

    img {
      transform: translateY(5px);
    }
    span {
      @include m.text-style-extended('3xl', 700, text-primary);
    }
  }

  &__auth {
    @include menu-auth;
  }
}
