@use 'utils/mixins' as m;
@use 'utils/functions' as f;

.account-setting {
  width: 100%;
  height: 100%;
  padding: 18px 20px;
  border-radius: 24px;
  border: 1.5px solid f.color(gray-100);
  box-shadow: 0 6px 12px 0 rgb(0 0 0 / 8%);
  transition:
    box-shadow 0.2s,
    border-color 0.2s;
  @include m.flex-box(flex-start, stretch, column);

  &__header {
    padding-bottom: 8px;
    border-bottom: 2px solid f.color(gray-300);
    margin-bottom: 16px;
    @include m.flex-box(space-between, center);

    &__title {
      @include m.text-style-extended('xl', 600, gray-900);
    }

    &__icon {
      width: 20px;
      height: 20px;
      color: f.color(gray-600);
    }
  }

  &__menu {
    @include m.flex-box(center, stretch, column);
    gap: 14px;

    &__section {
      width: 100%;
      padding: 12px;
      @include m.flex-box(space-between, center);
      background-color: f.color(white);
      border-radius: 10px;
      border: 1px solid f.color(gray-300);
      transition:
        background-color 0.15s ease,
        transform 0.1s ease;

      &.is-clickable {
        cursor: pointer;

        &:hover {
          background-color: f.color(gray-200);
        }

        &:active {
          transform: translateY(1px);
        }
      }

      &.is-disabled {
        opacity: 0.55;
        cursor: default;
      }

      &__info {
        @include m.flex-box(center, center);
        gap: 10px;

        &__icon {
          width: 20px;
          height: 20px;
          @include m.flex-box(center, center);
          color: f.color(gray-700);
        }

        &__title {
          @include m.text-style('lg', 600);
          color: f.color(gray-800);
        }

        &__description {
          @include m.text-style('md', 500);
          color: f.color(gray-600);
        }
      }

      &__chevron {
        width: 20px;
        height: 20px;
        color: f.color(gray-600);
      }

      &--logout {
        .account-setting__menu__section__info__icon {
          color: f.color(red-600);
        }
      }
    }

    &__help {
      width: 100%;
      @include m.flex-box(flex-start, flex-start);
      gap: 10px;
      padding: 12px 8px;
      background-color: f.color(blue-50);
      border-radius: 10px;
      border: 1px solid f.color(blue-400);

      &__icon {
        width: 28px;
        height: 28px;
        color: f.color(blue-700);
        padding: 4px;
        border-radius: 10px;
        border: 1px solid f.color(blue-300);
        background-color: f.color(blue-100);
      }

      &__content {
        @include m.flex-box(center, flex-start, column);
        gap: 5px;

        &__text {
          @include m.flex-box(center, flex-start, column);
          gap: 5px;

          &__title {
            @include m.text-style('md', 600);
            color: f.color(blue-800);
          }

          &__description {
            @include m.text-style('sm', 400);
            color: f.color(blue-700);
          }
        }
      }
    }
  }
}
