@use 'utils/mixins' as m;
@use 'utils/functions' as f;

.account-setting {
  width: 100%;
  height: 100%;
  padding: 18px 20px;
  border-radius: 14px;
  border: 1.5px solid f.color(gray-300);
  box-shadow: 2px 2px 0px 0 rgba(0, 0, 0, 0.1);
  @include m.flex-box(flex-start, stretch, column);

  &__header {
    margin-bottom: 14px;
    @include m.flex-box(space-between, center);

    &__title {
      @include m.text-style('xl', 500);
      color: f.color(black);
    }

    &__icon {
      width: 20px;
      height: 20px;
      color: f.color(gray-600);
    }
  }

  &__menu {
    @include m.flex-box(center, center, column);
    gap: 18px;

    &__section {
      width: 100%;
      @include m.flex-box(space-between, center);
      padding: 10px 8px;
      background-color: f.color(gray-100);
      border-radius: 10px;
      border: 1px solid f.color(gray-300);

      &__info {
        @include m.flex-box(center, center);
        gap: 10px;

        &__icon {
          width: 20px;
          height: 20px;
          @include m.flex-box(center, center);
        }

        &__title {
          @include m.text-style('lg', 600);
          color: f.color(gray-800);
        }

        &__description {
          @include m.text-style('md', 500);
          color: f.color(gray-600);
        }
      }

      &__chevron {
        width: 20px;
        height: 20px;
        color: f.color(gray-600);
        cursor: pointer;
      }
    }
  }
}
