@use 'utils/functions' as f;
@use 'utils/mixins' as m;

.profile-image {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  background-color: f.color(white);
  flex-shrink: 0;

  &__img {
    object-fit: cover;
  }

  &--editable {
    border: 1.5px solid f.color(gray-400);
  }
}
