@use 'utils/mixins' as m;
@use 'utils/functions' as f;
@use 'utils/variables' as v;

.mood-recommend {
  width: 100%;
  padding: 16px 18px;

  @include m.flex-box(flex-start, stretch, column);

  &__list {
    @include m.flex-box(space-between, stretch);
    gap: 6px;
    margin-bottom: 24px;
  }

  &__button {
    width: 68px;
    min-height: 88px;
    padding: 12px 0;

    @include m.flex-box(center, center, column);
    gap: 6px;

    background: rgba(f.color(white), 0.6);
    backdrop-filter: blur(6px);

    border-radius: 18px;
    border: 1px solid rgba(f.color(gray-400), 0.25);

    cursor: pointer;
    transition: all 0.25s ease;

    &:hover {
      background: rgba(f.color(white), 0.85);
    }
  }

  &__button--active {
    border-color: f.color(point-blue);
    background: rgba(f.color(white), 0.95);

    box-shadow:
      0 0 0 4px rgba(f.color(point-blue), 0.18),
      0 4px 10px rgba(0, 0, 0, 0.08);

    .mood-recommend__icon {
      transform: scale(1.1);
      color: f.color(point-blue);
    }

    .mood-recommend__label {
      color: f.color(point-blue);
      font-weight: 600;
    }
  }

  &__icon {
    font-size: 30px;
    transition: transform 0.18s cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__label {
    @include m.text-style(sm, 500);
    color: f.color(gray-700);
    white-space: nowrap;
  }

  &__recommend {
    margin-top: 10px;

    h4 {
      @include m.text-style('2lg', 600);
      margin-bottom: 10px;
      color: f.color(gray-800);
    }
  }

  &__cards {
    display: grid;
    gap: 14px;
    grid-template-columns: repeat(2, 1fr);

    @include m.mq(lg) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__card {
    min-height: 48px;
    padding: 8px 12px;

    @include m.flex-box(center, center);
    text-align: center;
    word-break: keep-all;
    white-space: nowrap;
    background: f.color(white);
    border: 1px solid f.color(gray-400);
    border-radius: 12px;

    @include m.text-style(sm, 600);
    color: f.color(gray-700);
    cursor: pointer;
  }
}
