@use 'utils/mixins' as m;
@use 'utils/functions' as f;

// 카드가 들어가는 영역의 경계선
@mixin card-boundary {
  @include m.flex-box(flex-start, stretch);
  width: 100%;
  padding: 18px 20px;

  border: 1px solid f.color(gray-300);
  box-sizing: border-box;

  background: f.color(white);
  border-radius: 14px;
  overflow: hidden;

  min-height: 0;
}

// 가운데 정렬이 필요한 영역의 경계선
@mixin center-boundary {
  @include m.flex-box(center, center);
  width: 100%;
  border: 1px solid f.color(gray-300);
}

.mypage {
  @include m.flex-box(flex-start, stretch, column);
  gap: 40px;

  &__header {
    @include center-boundary;
    height: 200px;
  }

  &__content {
    width: 100%;
    @include m.flex-box(flex-start, stretch, column);
    gap: 30px;
  }

  &__top {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr;

    @include m.mq(lg) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
      align-items: stretch;
    }

    &__favorite,
    &__preference {
      @include card-boundary;
      height: 360px;

      @include m.mq(lg) {
        height: 420px;
      }
    }
  }

  &__bottom {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr;

    @include m.mq(lg) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      align-items: stretch;
    }

    &__profile,
    &__faq {
      @include card-boundary;
      height: 280px;

      @include m.mq(lg) {
        height: 400px;
      }
    }
  }
}
