@use 'utils/mixins' as m;
@use 'utils/functions' as f;
@use 'utils/variables' as v;

.weather-recommend {
  width: 100%;
  height: auto;
  padding: 14px 4px;

  display: flex;
  flex-direction: column;

  &__text {
    @include m.text-style(lg, 600);
    color: f.color(black);

    @include m.mq(lg) {
      @include m.text-style('2lg', 600);
    }
  }

  &__card {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 16px 18px;
    margin-bottom: 20px;

    background: f.color(white);
    border: 1px solid f.color(gray-300);
    border-radius: 14px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06);
  }

  &__icon-wrap {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
  }

  &__icon {
    object-fit: contain;
  }

  &__temp {
    @include m.text-style('2xl', 700);
    color: f.color(black);
    line-height: 1;

    @include m.mq(lg) {
      @include m.text-style('3xl', 700);
    }
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 4px;

    text-align: left;
  }

  &__summary {
    @include m.text-style(sm, 600);
    color: f.color(black);

    white-space: nowrap;

    @include m.mq(lg) {
      @include m.text-style(lg, 600);
    }
  }

  &__aqi {
    display: block;
    @include m.text-style(sm, 600);
    margin-top: 2px;

    @include m.mq(lg) {
      @include m.text-style(md, 600);
    }
  }

  &__humidity {
    @include m.text-style(sm, 600);
    color: f.color(black);

    @include m.mq(lg) {
      @include m.text-style(lg, 600);
    }
  }

  &__title {
    @include m.text-style(lg, 600);
    margin-bottom: 10px;
    color: f.color(black);
  }

  &__list {
    display: grid;
    gap: 14px;

    grid-template-columns: repeat(2, 1fr);

    @include m.mq(lg) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__item {
    padding: 10px 16px;
    text-align: center;
    min-width: 100px;
    background: f.color(white);
    border: 1px solid f.color(gray-300);
    border-radius: 12px;

    @include m.text-style(sm, 600);
    color: f.color(gray-700);

    cursor: pointer;
    transition: all 0.2s ease;

    @include m.mq(lg) {
      @include m.text-style(md, 600);
    }

    &:hover {
      border-color: f.color(point-blue);
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    }
  }
}

.aqi-1 {
  color: #2ecc71; // 좋음
}
.aqi-2 {
  color: #f1c40f; // 보통
}
.aqi-3 {
  color: #e67e22; // 한때 나쁨
}
.aqi-4 {
  color: #e74c3c; // 나쁨
}
.aqi-5 {
  color: #8e44ad; // 매우 나쁨
}
