@use 'utils/mixins' as m;
@use 'utils/functions' as f;
@use 'utils/variables' as v;

.container {
  width: 100%;
  height: 100%;
  padding: 14px 4px;
  display: flex;
  flex-direction: column;
}

.moodList {
  display: flex;
  justify-content: space-between;
  gap: 6px;
  margin-bottom: 24px;
}

.moodBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  width: 68px;
  padding: 12px 0;

  background: rgba(f.color(white), 0.6);
  backdrop-filter: blur(6px);

  border-radius: 18px;
  border: 1px solid rgba(f.color(gray-400), 0.25);

  cursor: pointer;
  transition: all 0.25s ease;

  &:hover {
    background: rgba(f.color(white), 0.85);
    transform: translateY(-1.5px);
  }
}

.icon {
  font-size: 30px;
  transition: transform 0.18s cubic-bezier(0.4, 0, 0.2, 1);
}

.label {
  @include m.text-style(sm, 500);
  color: f.color(gray-700);
}

.active {
  border-color: f.color(point-blue);
  box-shadow:
    0 0 0 4px rgba(f.color(point-blue), 0.18),
    0 4px 10px rgba(0, 0, 0, 0.08);

  background: rgba(f.color(white), 0.9);

  .icon {
    transform: scale(1.1);
    color: f.color(point-blue);
  }

  .label {
    color: f.color(point-blue);
    font-weight: 600;
  }
}

.recommend {
  h4 {
    @include m.text-style(lg, 600);
    margin: 10px 0;
    color: f.color(black);
  }
}

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 14px;
}

.card {
  padding: 12px 16px;
  border-radius: 12px;
  border: 1px solid f.color(gray-300);
  background: #fff;
  text-align: center;
  @include m.text-style(md, 600);
  color: f.color(gray-700);
  transition: all 0.2s ease;
  cursor: pointer;

  &:hover {
    border-color: f.color(point-blue);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  }
}
