@use 'utils/mixins' as m;
@use 'utils/functions' as f;

.roulette {
  @include m.flex-box(center, center, column);
  gap: 14px;
  width: 100%;
  padding: 20px 0;
  max-height: 870px;

  &__today {
    @include m.text-style-extended('2xl', 600, gray-700);
    color: var(--text);
    text-align: center;

    span {
      @include m.text-style-extended('2xl', 800, orange-700);
    }
  }

  &__wheel-wrapper {
    position: relative;
    width: fit-content;
    margin: 0 auto;
  }

  &__result-btn {
    width: 100%;
    margin: 6px auto;
    @include m.flex-box(center, center);

    &__button {
      width: 100px;
      background-color: f.color(white);
      border-radius: 24px;
      border: 1.5px solid f.color(orange-200);
      @include m.text-style-extended('xs', 700, orange-700);
      padding: 8px;

      @include m.mq(md) {
        @include m.text-style-extended('md', 700, orange-700);
        padding: 8px;
      }

      &:hover:not(:disabled) {
        background-color: f.color(orange-700);
        border-color: f.color(orange-300);
        color: f.color(white);
      }
    }
  }

  &__shuffle-btn {
    position: absolute;
    top: 20px;
    right: -10px;
    z-index: 10;

    width: 42px;
    height: 42px;
    border-radius: 50%;

    background: f.color(gray-100);
    border: 1px solid transparent;

    cursor: pointer;

    transition: all 0.2s ease;

    &:hover:not(:disabled) {
      background: f.color(gray-200);
      border-color: f.color(gray-300);
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    svg {
      color: f.color(text-default);
    }
  }
}
