@use 'utils/mixins' as m;
@use 'utils/functions' as f;
@use 'utils/variables' as v;

.container {
  @include m.flex-box(column, center);
  gap: 18px;
  margin-top: 20px;
  margin-bottom: 10px;

  &__canvas {
    border-radius: 50%;
    box-shadow:
      0 10px 25px rgba(0, 0, 0, 0.25),
      inset 0 0 25px rgba(0, 0, 0, 0.2);
    background: radial-gradient(circle, #fff 0%, #e5e5e5 100%);

    cursor: pointer;
    transition:
      box-shadow 0.25s ease,
      transform 0.15s ease;

    &:hover {
      box-shadow:
        0 12px 30px rgba(0, 0, 0, 0.28),
        inset 0 0 32px rgba(0, 0, 0, 0.22);
    }

    &:active {
      transform: scale(0.995);
    }
  }

  &__button {
    background: linear-gradient(180deg, #444, #222);
    color: f.color(text-inverse);
    padding: 10px 30px;
    border-radius: 12px;
    @include m.text-style(lg, 600);
    font-weight: 600;
    cursor: pointer;
    border: none;
    outline: none;

    transition:
      background 0.15s ease,
      transform 0.1s ease;

    &:hover:not(:disabled) {
      background: linear-gradient(180deg, #666, #333);
      transform: translateY(-2px);
    }

    &:active:not(:disabled) {
      transform: translateY(0);
    }

    &:disabled {
      background: f.color(gray-600);
      cursor: not-allowed;
      transform: none;
    }
  }
}

.wrapper {
  @include m.flex-box(column, center);
  width: 100%;
}
